/* .app{
  background-color: white;
  padding: 2px;
} */
* {
  font-family: "Silkscreen";
  font-size: 13px;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  font-family: "Silkscreen";
}

.logo {
  width: 125px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items > li {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

.res-card {
  margin: 10px;
  width: 350.4px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 17px;
  background-color: antiquewhite;
}

.res-card-img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 20px;
}

.res-n-r {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: -12px;
  margin-top: -12px;
}

.res-cuis-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto; /* Let height be determined by content */
  margin: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}
.res-name{
  margin: 0.8rem 0px 0.6rem;
  padding: 0.15em;
}
.res-rating{
  margin: 0.8rem 0px 0.6rem;
  padding: 0.15em;
  width: fit-content;
  background-color: green;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1em;
}
.res-cuisine{
  margin: 0.8rem 0px 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  padding: 0.15em;
}
.res-price{
  margin: 0.8rem 0px 0.6rem;;
  padding: 0.15em;
}

.res-details{
  padding: 5px;
  width: 340px;
}

.res-delivery-time{
  display: flex;
  justify-content: end;
  padding: 0.15em;
  font-size: 0.9em;
 
}

.star{
  display: inline-flex;
  align-items: center;
  margin-left: 5px; 
}
.star svg {
  width: 20px;
  height: 20px;  
  fill: white;  
  vertical-align: middle; 
  margin: 0;     
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}

.filter-box{
  display: flex;
  margin: 20px;
}
.search{
  margin: 10px;
}

.filter-btn{
  padding: 5px;
}